<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716698897145-3rfaodfn9pift1nkl50haignrpuan6nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716698897145-3rfaodfn9pift1nkl50haignrpuan6nl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3PE5IORfq8OVAVQZSgAW9TtIwlfwhgwg</string>
	<key>GCM_SENDER_ID</key>
	<string>716698897145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MYDM.seeid</string>
	<key>PROJECT_ID</key>
	<string>mydm-seeid</string>
	<key>STORAGE_BUCKET</key>
	<string>mydm-seeid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716698897145:ios:4d0accfb97bf847b46b028</string>
	<key>DATABASE_URL</key>
	<string>https://mydm-seeid.firebaseio.com</string>
</dict>
</plist>